.sequence-grid {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
    height: 250px;
    width: 1000px;
    padding: 10px;
    background-color: #fbaf08;
}


#border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-right: black 1px solid;
}

.kick-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a0a0 ;
    border-radius: 5px;
    width: 991px;
    height: 40px;
}

.kick-row #border:last-of-type {
    border: none;
}

.snare-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 174, 174) ;
    border-radius: 5px;
    width: 991px;
    height: 40px;
    position: relative;
}

.snare-row #border:last-of-type {
    border: none;
}

.hi-hat-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 155, 117) ;
    border-radius: 5px;
    width: 991px;
    height: 40px;
}

.hi-hat-row #border:last-of-type {
    border: none;
}

.tom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 79, 181) ;
    border-radius: 5px;
    width: 991px;
    height: 40px;
    // #00a0a0
}

.tom-row #border:last-of-type {
    border: none;
}

.clap-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 174, 174) ;
    border-radius: 5px;
    width: 991px;
    height: 40px;
}

.clap-row #border:last-of-type {
    border: none;
}

.crash-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a0a0 ;
    border-radius: 5px;
    width: 991px;
    height: 40px;
}

.crash-row #border:last-of-type {
    border: none;
}

.inst-icon {
    height: 30px;
    width: 30px;
    margin-left: 5px;
}



input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 30px;
    border: 1px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.kick-checkbox-label input:checked {
    background-color: #fbaf08;
}

.kick-checkbox-label input:hover {
    background-color: #ffe4ab;
}

.kick-checkbox-label input:checked:hover {
    background-color: #fbaf08;
    box-shadow: 0 0 0.25em 0 rgb(255, 255, 255);
}

.hi-hat-checkbox-label input:checked {
    background-color: antiquewhite;
}

.hi-hat-checkbox-label input:hover {
    background-color: rgb(255, 226, 189);
}

.hi-hat-checkbox-label input:checked:hover {
    background-color: antiquewhite;
    box-shadow: 0 0 0.25em 0 rgb(255, 255, 255);
}

.crash-checkbox-label input:checked {
    background-color: #fbaf08;
}

.crash-checkbox-label input:hover {
    background-color: #ffe4ab;
}

.crash-checkbox-label input:checked:hover {
    background-color: #fbaf08;
    box-shadow: 0 0 0.25em 0 rgb(255, 255, 255);
}

.snare-checkbox-label input:checked {
    background-color: rgb(135, 79, 181);
}

.snare-checkbox-label input:hover {
    background-color: rgb(159, 134, 179);
}

.snare-checkbox-label input:checked:hover {
    background-color: rgb(135, 79, 181);
    box-shadow: 0 0 0.25em 0 rgb(255, 255, 255);
}

.tom-checkbox-label input:checked {
    background-color: #fbaf08;
}

.tom-checkbox-label input:hover {
    background-color: #597c6f;
}

.tom-checkbox-label input:checked:hover {
    background-color: #fbaf08;
    box-shadow: 0 0 0.25em 0 rgb(255, 255, 255);
}

.clap-checkbox-label input:checked {
    background-color: rgb(135, 79, 181);
}

.clap-checkbox-label input:hover {
    background-color: rgb(159, 134, 179);
}

.clap-checkbox-label input:checked:hover {
    background-color: rgb(135, 79, 181);
    box-shadow: 0 0 0.25em 0 rgb(255, 255, 255);
}

.kick-checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .current-pos {
    box-shadow: 10 10 10  #000000;
    background-color: rgb(59, 75, 67);

}

// Mountain Shadow Blue: #101357

// Old Makeup Pink: #fea49f

// Goldenrod Yellow: #fbaf08

// Bluebell Light Blue: #00a0a0

// Bold 2019 Green: #007f4f