.piano * {
    box-sizing: border-box;
}

.piano {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.key {
    height: calc(var(--width) * 3);
    width: var(--width);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.white {
    --width: 50px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #ccc;
}

.black {
    --width: 30px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    color: white;
}

.black.active {
    background-color: #333;
}

.keyboard-key {
    display: none;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 18px;
    background-color: none;
}