.piano * {
    box-sizing: border-box;
}

.piano {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
    border-top: 5px solid black;
}

.key {
    height: calc(var(--width) * 3);
    width: var(--width);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

//tidy up code here

.white {
    --width: 50px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 0 0px 5px 5px;
}

.white.active {
    background-color: #ccc;
}

.black {
    --width: 30px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    border-radius: 0 0px 5px 5px;
    z-index: 2;
    color: white;
}

.black.active {
    background-color: #333;
}

.keyboard-key {
    display: none;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 18px;
    background-color: none;
}

// .piano-top {
//     position: absolute;
//     width: 57.2rem;
//     height: 2rem;
//     background-color: burlywood;
//     top: -2rem;
//     border: 1px solid black;
//     border-bottom: none;
// }

// .piano-edge {
//     width: 2rem;
//     background-color: burlywood;
//     border: 1px solid #333;
//     border-top: none;

//     &:first-of-type {
//         border-right: none;
//         border-radius: 0 0 5px 0;
//     }

//     &:last-of-type {
//         border-left: none;
//         border-radius: 0 0 0 5px;
//     }
// }