.playback-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    width: 1000px;
    position: relative;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.play-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #007f4f;
    border-radius: 5px;
    cursor: pointer;
}

.play-pause:hover {
    background-color: #006a41;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #007f4f;
    border-radius: 5px;
    cursor: pointer;
}

.restart:hover {
    background-color: #006a41;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #007f4f;
    border-radius: 5px;
    font-family: monospace;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.reset:hover {
    background-color: #006a41;
}

.play-pause img{
    width: 35px;
}

.restart img {
    width: 32px;
}

.bot-btns {
    display: flex;
}

.vol-slider-cont {
    right: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007f4f;
    border: 1px solid black;
    height: 30px;
    width: 200px;
    text-align: center;
    padding: 3px;
}

.vol-slider-cont #vol-slider {
    appearance: none;
    background-color: black;
    border-radius: 5px;   
    height: 4px;
    width: 80%;
    line-height: 2;
}

.vol-slider-cont #vol-slider::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    background-color: black;
    border-radius: 10px;
    height: 23px;
    width: 10px;
    cursor: pointer;
}

.vol-slider-cont #vol-slider::-webkit-slider-thumb:hover {
    border: solid 0.5px aliceblue;    
}

.vol-slider-cont img {
    padding: 5px;
    width: 27px;
}

#vol-icon {
    cursor: pointer;
}

#vol-icon:hover {
    width: 32px;
}

.vol-slider-cont div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vol-icon-cont {
    height: 30px;
    width: 30px;
}

.-container {
    position: relative;
    transform: translateX(-395px) translateY(-21px);
}

#instructions-btn {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007f4f;
    border: 1px solid black;
    height: 40px;
    width: 165px;
    text-align: center;
    padding: 8px;
    font-family: monospace;
    font-weight: 600;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
    box-shadow: #0b0b0b 1px 1px 1px 1px;
}

#instructions-btn:hover {
    background-color: #006a41;
}

#instructions-btn:focus {
    box-shadow: none;
}

.dropdown-menu-2 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 0px;
    height: 0px;
    z-index: 2;
    
    & > * {
        z-index: -3;
    }
}

.dropdown-menu-2 button {
    appearance: none;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
    text-decoration: underline;
	cursor: pointer;
	outline: inherit;
    color: black;
    font-family: monospace;
    font-weight: 600;
    font-size: 14px;
    padding: 3px;
    z-index: 3;
}

.dropdown-menu-2 button:hover {
    color: #909090;
    font-size: 16px;
}

.instructions-container > .instructions-btn:focus + .dropdown-menu-2 {
    opacity: 1; 
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background-color: #00a0a0;
    flex-direction: column;
    
    a {
        margin-left: .5rem;
        margin-right: .5rem;
        text-decoration: none;
        color: black;

        &:hover {
            .link {
                transform: scale(1.1);
            }
        }
    }

    .link {
        font-size: 30px;
    }

    .fa-user {
        font-size: 25px;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.inst {
    display: none;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    width: 225px;
    font-family: monospace;
    font-weight: 600;
    font-size: 16px;
    z-index: 1;
}

.tempo-inst {
    top: -465px;
    right: -219px;
    width: 200px;
    position: absolute;
}

.kits-inst {
    top: -452px;
    right: -1000px;
    position: absolute;
}

.volume-inst {
    right: -1002px;
    top: 3px;
    position: absolute;
}

.grid-inst {
    top: -480px;
    right: -700px;
    position: absolute;
    flex-direction: column;
}

.close-inst {
    position: absolute;
    right: -160px;
    top: 3px;
    width: 137px;

}





