.playback-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    width: 1000px;
    position: relative;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.play-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #007f4f;
    border-radius: 5px;
    cursor: pointer;
}

.play-pause:hover {
    background-color: #006a41;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #007f4f;
    border-radius: 5px;
    cursor: pointer;
}

.restart:hover {
    background-color: #006a41;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #007f4f;
    border-radius: 5px;
    font-family: monospace;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.reset:hover {
    background-color: #006a41;
}

.play-pause img{
    width: 35px;
}

.restart img {
    width: 32px;
}


// Mountain Shadow Blue: #101357

// Old Makeup Pink: #fea49f

// Goldenrod Yellow: #fbaf08

// Bluebell Light Blue: #00a0a0

// Bold 2019 Green: #007f4f

//volume slider

.vol-slider-cont {
    position: absolute;
    right: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007f4f;
    border: 1px solid black;
    height: 30px;
    width: 200px;
    text-align: center;
    padding: 3px;
}

.vol-slider-cont #vol-slider {
    appearance: none;
    background-color: black;
    border-radius: 5px;   
    height: 4px;
    width: 80%;
    line-height: 2;
}

.vol-slider-cont #vol-slider::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    background-color: black;
    border-radius: 10px;
    height: 23px;
    width: 10px;
    cursor: pointer;
}

.vol-slider-cont #vol-slider::-webkit-slider-thumb:hover {
    border: solid 0.5px aliceblue;    
}

.vol-slider-cont img {
    padding: 5px;
    width: 27px;
}