.slider-dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1000px;
}

.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007f4f;
    border: 1px solid black;
    border-radius: 30px 10px 30px 10px;
    height: 50px;
    width: 40%;
    text-align: center;
}

.slider-container #slider {
    appearance: none;
    background-color: black;
    border-radius: 5px;   
    height: 4px;
    width: 80%;
    line-height: 2;
}

.slider-container #slider::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    background-color: black;
    border-radius: 10px;
    height: 23px;
    width: 10px;
    cursor: pointer;
}

.slider-container #slider::-webkit-slider-thumb:hover {
    border: solid 0.5px aliceblue;    
}

.slider-container #val {
    font-weight: 600;
    font-family: monospace;
    font-size: 18px;
}


.tempo span {
    position: absolute;
    left: 36%;
    top: -14px;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1px 8px 1px 8px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 2px 2px 2px black;
    height: 20px;
    width: 100px;
}

 
// Mountain Shadow Blue: #101357

// Old Makeup Pink: #fea49f

// Goldenrod Yellow: #fbaf08

// Bluebell Light Blue: #00a0a0

// Bold 2019 Green: #007f4f

// now for the dropdown

.dropdown-container {
    position: relative;
}

.drum-kits-btn {
    background-color: #007f4f;
    border-radius: 10px 30px 10px 30px;
    border: 1px solid black;
    font-size: 22px;
    font-weight: 600;
    font-family: monospace;
    height: 50px;
    width: 160px;
    text-align: center;
    cursor: pointer;
    box-shadow: #0b0b0b 1px 1px 1px 1px;
}

.drum-kits-btn:hover {
    background-color: #006a41;
}

.drum-kits-btn:focus {
    box-shadow: none;
}

.dropdown-menu {
    display: flex;
    left: -135px;
    top: -5px;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    background-color: antiquewhite;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0;
    // display: none;
    opacity: 0;
    width: 80%;
    margin-top: 5px;
    z-index: 2;
}

.dropdown-menu button {
    appearance: none;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
    text-decoration: underline;
	cursor: pointer;
	outline: inherit;
    color: black;
    font-family: monospace;
    font-weight: 600;
    font-size: 14px;
    padding: 3px;
    z-index: 3;
}

.dropdown-menu button:hover {
    color: #909090;
    font-size: 16px;
}

.dropdown-container > .drum-kits-btn:focus + .dropdown-menu {
    // display: flex; 
    opacity: 1;
    
    // z-index: 2;
}


