@import "./styles/reset.scss";
@import "./styles/slider-dropdown.scss";
@import "./styles/audio-visualizer.scss";
@import "./styles/grid-design.scss";
@import "./styles/playback-controls.scss";


body {
    background-color: #fea49f;

}

.title-logo-container {
    display: flex;
    // background-image: linear-gradient(to bottom right, #fbaf08, #00a0a0, #373b97, #007f4f);
    background-size: auto;
    justify-content: center;
    align-items: center;
    background-color: #00a0a0;
    margin: auto;
    width: 475px;
    height: 150px;
    border: 1px solid black;
    margin-top: 2.5%;
    margin-bottom: 10%;
    border-radius: 5px;
}

.logo {
    width: 375px;
}

#container {
    border: 1px solid black;
}
// Mountain Shadow Blue: #101357

// Old Makeup Pink: #fea49f

// Goldenrod Yellow: #fbaf08

// Bluebell Light Blue: #00a0a0

// Bold 2019 Green: #007f4f

// #row #kick1 {
//     // background-color: yellow;
// }