@import "./styles/reset.scss";
@import "./styles/slider-dropdown.scss";
@import "./styles/audio-visualizer.scss";
@import "./styles/grid-design.scss";
@import "./styles/playback-controls.scss";
@import "./styles/piano.scss";

body {
    background-color: #fea49f;
    padding-bottom: 2rem;
}

.title-logo-container {
    display: flex;
    background-size: auto;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #00a0a0;
    margin: auto;
    width: 481px;
    height: 150px;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}   

.logo {
    width: 375px;
}

#container {
    border: 1px solid black;
}
// Mountain Shadow Blue: #101357

// Old Makeup Pink: #fea49f

// Goldenrod Yellow: #fbaf08

// Bluebell Light Blue: #00a0a0

// Bold 2019 Green: #007f4f

// #row #kick1 {
//     // background-color: yellow;
// }